body {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom:10%;
}

.wrap {
  max-width:1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-top: 60px;
}
/* ハンバーガーメニュー */
#nav-toggle {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 32px;
  cursor: pointer;
}
#nav-toggle > div {
  position: relative;
  width: 36px;
}
#nav-toggle span {
  width: 100%;
  height: 1px;
  left: 0;
  display: block;
  background: #333;
  position: absolute;
  transition: transform 0.6s ease-in-out, top 0.5s ease;
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 14px;
}
#nav-toggle span:nth-child(3) {
  top: 28px;
}
#nav-toggle:hover span:nth-child(1) {
  top: 4px;
}
#nav-toggle:hover span:nth-child(3) {
  top: 23px;
}

.open #nav-toggle span {
  background: #fff;
}
.open #nav-toggle span:nth-child(1) {
  top: 15px;
  transform: rotate(45deg);
}
.open #nav-toggle span:nth-child(2) {
  top: 15px;
  width: 0;
  left: 50%;
}
.open #nav-toggle span:nth-child(3) {
  top: 15px;
  transform: rotate(-45deg);
}

/* z-index */
#nav-toggle {
  z-index: 1000;
}

#container {
  z-index: 900;
}

#gloval-nav {
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  /* left: 0; */
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  opacity: 0.8;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  width:20%;
}

#gloval-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1px 0;
  transition: color 0.6s ease;
}
#gloval-nav a:hover {
  color: #666;
}
#gloval-nav ul {
  list-style: none;
}
#gloval-nav ul li {
  opacity: 0;
  transform: translateX(200px);
  transition: transform 0.6s ease, opacity 0.2s ease;
}
#gloval-nav ul li:nth-child(2) {
  transition-delay: 0.15s;
}
#gloval-nav ul li:nth-child(3) {
  transition-delay: 0.3s;
}
#gloval-nav ul li:nth-child(4) {
  transition-delay: 0.45s;
}
#gloval-nav ul li:nth-child(5) {
  transition-delay: 0.6s;
}
#gloval-nav ul li:nth-child(6) {
  transition-delay: 0.75s;
}
#gloval-nav ul li:nth-child(7) {
  transition-delay: 0.9s;
}
#gloval-nav ul li:nth-child(8) {
  transition-delay: 1.00s;
}
#gloval-nav ul li:nth-child(9) {
  transition-delay: 1.15s;
}
#gloval-nav ul li:nth-child(10) {
  transition-delay: 1.45s;
}
#gloval-nav ul li:nth-child(11) {
  transition-delay: 1.6s;
}

.menu {
  margin-bottom:20%;
}

/* open */
.open {
  overflow: hidden;
}
.open #gloval-nav {
  visibility: visible;
  /* opacity: 1; */
}
.open #gloval-nav li {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease, opacity 0.9s ease;
}

/* ここまで */

h2 {
  margin:0 auto 30px;
  max-width: 1200px;
}

img {
    width: 100%; }

.categories {
    text-align: center;
    margin-top:8%;
} 

.title_name,.mainitem_name {
    font-family: 'Sriracha', cursive;
    font-size:5.5em;
    font-weight: bold;
    font-style:italic;
}

rt {
    font-size:1.3em;
}


.des {
    margin-top:3%;
    font-size:2em;
    text-align: center;
}

.rubi {
    font-weight: bold;
    margin-top:5%;
    font-size: 1.2em;
}

.brand_name {
    text-align: center;
    margin:10% auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width:80%;
}


/*以下フェードイン表示の指定*/
.fadein {
  opacity: 0;
  animation: fadein 6s ease forwards;
}
@keyframes fadein {
  100% {  opacity: 1;}
}

.phrase {
  font-size: 3em;
}

#lv {
    font-family: futura-pt, sans-serif;
    font-size: 5.5em;
    font-weight: bold;
}

#ch {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 5.5em;
    font-weight: bold;
}

#her {
    font-family: 'Sanchez', serif;
    font-size: 5.5em;
    font-weight: bold;
}

#gu,#main {
    font-family: 'Marcellus', serif;
    font-size: 5.5em;
}

.section_img ul {
    margin:0 auto;
    display:flex;
    justify-content: center;
}

.section_img {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px 25px;
  background: linear-gradient(180deg, #FFD6D6 0%, #FFD6D6 70%, #fff 50%, #fff 100%);
}

#ch_sec {
  background: linear-gradient(180deg, #feffd6 0%, #feffd6 70%, #fff 50%, #fff 100%);
}

#hel_sec {
  background: linear-gradient(180deg, #d6e3ff 0%, #d6e3ff 70%, #fff 50%, #fff 100%);
}

li{
  width: 100%;
  margin: 0 0 100px;
}

img{
  width: 100%;
  height: auto;
}

.fadeinslide {
}

.fadeInUpright {
  opacity : 0;
  transform: translateX(-100px);
  transition: 1.5s;
  margin-left: -4.5%;
  max-width:550px;
  
}

.fadeInUp {
  opacity : 0;
  transform: translateX(100px);
  transition: 1.5s;
  margin-right: -4.5%;
  max-width:600px;
  margin-top: 5%;
}

.mainitem {
    text-align: center;
    /* margin:0 0 15%; */
}

.mainitem_name {
    display: flex;
    align-items: center;
}
.mainitem_name:before,.mainitem_name:after{
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #000;
    display: block;
    width:50px;
}

.mainitem_name:before {
    margin-right: .4em;
}

.mainitem_name:after {
    margin-left: .4em;
}

.items,.wallet_items{
    opacity:.5;
    transform: translateY(150px);
    transition: 1.5s;
}

.items_pic{
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
}

.items_pic li,.wallet_pic li {
    width: calc(100% / 3);  
    margin:0 auto; 
    justify-content: flex-start;
    padding:0% 2%;
}

.name {
    text-align: center;
    font-size: 2em;
    padding-top:20%;
    color:#000;
}

.item_all_button_box{
    margin:20% auto;
    width:350px;
}


.item_all_button_box,.item_all_button_button {
    padding: 10px;
    background-color: #555555;
    width: 40%;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1.2px;
    transition: all .3s;
}

.item_all_button_box:hover {
    opacity: .5;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.seeitem {
    text-align: center;
    position:relative;
}

.seeitem::before{
    content:"";
    width:30px;
    height:30px;
    position:absolute;
    top:0;
    right:10%;
    margin: auto;
    box-sizing:border-box;
    border:15px solid transparent;
    border-left:24px solid #fff;
}

.line-1{/*対象のテキスト*/
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

#last_button {
  margin-bottom:20%;
}

.other_pic{
  display:flex;
  flex-wrap:wrap;
  margin: 0 auto;
}

.other_pic li {
  width: calc(100% / 2); 
  padding:2% 8%; 
  margin:0 auto; 
}

.wallet_pic{
  max-width: 1500px;
  display:flex;
  flex-wrap:wrap;
  margin: 0 auto;
}

.categories {
  margin-bottom:20%;
}

.rubi_s {
  font-size:.8em;
}

#p_s {
  font-family: 'PT Serif', serif;
  font-size: 1.8em;
}

#lv_s {
  font-family: futura-pt, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

#gu_s {
  font-family: 'Marcellus', serif;
  font-size:1.5em;
  font-weight:bold;
}

#ca_s {
  font-family: 'Damion', cursive;
  font-size:1.8em;
}

#bo_s {
  font-family: 'Marcellus', serif;
  font-size:1.5em;
  font-weight:bold;
}

#her_s {
  font-family: 'Sanchez', serif;
  font-size: 1.5em;
  font-weight: bold;
}

 /* iframesmp版フッター表示 */
 #smp_footerframe {
  display:none;
}

.scroll-content{
  height: 100%;
  width: 100%;
 }
 .scroll-target{
  text-align: center;
  font-size: em;
  font-family: 'Noto Serif JP', serif;
  margin-bottom: 20%;
  
 }


@media (max-width: 1020px){
h1 {
    margin-bottom: 60px;
    max-width:1200px;
    margin:0 auto;
   }
   .title_name {
    font-size:3em;
  }

  #gloval-nav {
    width:60%;
    font-size:1em;
  }
  
  .des {
    font-size:1em;
  }
  
  #lv,#ch,#her,#gu,#main {
    font-size:2.5em;
  }

  .section_img{
    padding:0 25px;
  }
  
  .phrase {
    font-size:1.2em;
  }
  
  .scroll-target {
    margin-top: 20%;
  }
  
  .fadeInUp {
    margin-top:20%;
  }
  
  li {
    margin: 0 0 30px;
  }
  
  .mainitem_name {
    font-size:2em;
  }
  
  .mainitem {
    text-align: center;
    margin: 0 10% 15%;
  }
  
  .name {
    font-size:1em;
  }
  .item_all_button_box, .item_all_button_button{
    font-size:1em;
    padding:0 10px;
  }
  .seeitem::before {
   display:none;
  }

    /* iframePC版フッター非表示 */
    #pc_footerframe {
      display:none;
  }
  /* iframesmp版フッター表示 */
  #smp_footerframe {
      display:block;
  }
}
